* {
  box-sizing: border-box;
}
.GamePad {
  width: 380px;
  height: 500px;
  border: solid black 1px;
}
.grid {
  height: 320px;
  width: 315px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  margin: auto;
  position: relative;
  background-image: url('Frame.png');
  z-index: -1;
}

.grid div {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid black; */
}

.rocks {
  /* border-radius: 15px; */
}

.goodrocks {
  background: url('GoodRock.svg') no-repeat center;
}

.badrocks {
  background: url('BadRock.svg') no-repeat center;
}

.wasterocks1 {
  background: url('WasteRock-2.svg') no-repeat center;
}

.wasterocks2 {
  background: url('WasteRock-1.svg') no-repeat center;
}

.rover {
  /* background: url('arrow.svg') no-repeat center; */
}

.up {
  transform: rotate(0);
}

.down {
  transform: rotate(180deg);
}

.scanned {
  background-color: green;
  border-radius: 10px;
}

.scanning {
  animation: 0.75s blink;
  animation-iteration-count: infinite;
}

.upRotate {
  transform: rotate(0deg);
}

.downRotate {
  transform: rotate(180deg);
}

.rightRotate {
  transform: rotate(90deg);
}

.leftRotate {
  transform: rotate(-90deg);
}

.roverImg {
  position: absolute;
  left: 218px;
  top: 333px;
  width: 45px;
  transition: 0.5s;
}

/* 72
45
325
354 */

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* .notransform {
  transform: none;
} */
